<div class="row">
    <div class="col-12">
      <div class="modal-content bg-secondary">
          <div class="modal-header bg-white">
              <h3 class="modal-title" id="modal-title-default">Choose Service</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
        <div class="modal-body px-3">
            
            <mat-form-field>
                <mat-label>Select a service</mat-label>
                <mat-select [(ngModel)]="selectedService.name">
                <mat-option *ngFor="let service of servicesList" (click)="getServiceDetails(service)" value="{{service.name}}">
                    <img src="{{getDocumentUrl(service.image_id)}}" alt="{{service.name}}"><span>{{service.name}}</span>
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="modal-footer bg-white">
          <div class="text-center">
              <button [disabled]="!isSelected" mat-flat-button color="primary" (click)="bookNow()">Continue</button>
            </div>
        </div>
      </div>
    </div>
  </div>