table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
  
th {
    background-color: #f6f9fc;
    color: #8898aa;
}

.card-body {
    padding: 0px;
}

.table-responsive {
    border-radius: 0.375rem;
}




// Dialogue styles

.mat-form-field {
    width: 100%;
}

hr {
    margin: 0px;
}